.square {
    border: 1px;
    border-style: solid;
    border-color: lightgray;
    flex: 1;
}

#gridcontainer {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 700px;
    align-items: center;
}

.row {
    display: flex;
    height: 700px;
    width: 700px;
}

#slider {
    margin-top: 15px;
}

#sliderContainer{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding:10px;
    padding: 100px;
}

#container {
    display: flex;
}

h1 {
   text-align: center;
   color: blue;
}

.squareOver {
    border: 1px;
    border-style: solid;
    flex: 1;
    border-color: lightgray;
    background-color: lightgray;
}